.header {
    margin-bottom: 1rem;
}

.titles {
    margin-bottom: 1rem;
}

.title {
    font-family: "Times New Roman", "Times New Roman", Times, serif, "Times New Roman";
    font-size: 0.95rem;
}

.subtitle {
    font-size: 0.8rem;
}

.imageWrap {
    max-height: auto;
    width: 200px;
    position: relative;
    margin-bottom: 1.7rem;
}

.writing {
    font-family: "Times New Roman", "Times New Roman", Times, serif, "Times New Roman";
    font-size: 0.95rem;
}


.writingCategory {
    margin-bottom: 1.8rem;
}

.writingCategoryHeaders {
    text-transform: uppercase;
    margin-bottom: 0.9rem;
}

.writingListItem {
    font-size: 0.85rem;
}
